<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Geosentiment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css' ) }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/homepage.css' ) }}" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand" rel="stylesheet"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <div class="filter">
    </div>

    <div class="content">


      <div class="container-fluid">
         <a href="/"> <button class='btn'>Try it again!</button></a></br>
         <iframe width="700" height="500" scrolling="no" src="//plot.ly/~kaushik.316/12.embed"></iframe>
      </div>

    </div>

  </body>

</html>